<script>document.getElementById('global2').hidden = false</script>

<header class="logoholder" xmlns:style="http://www.w3.org/1999/xhtml">
    <label title="klikněte pro znovuotevření výběru" class="bblabel" for="hidebtn">
        <img alt="" class="bblogo" src="../assets/brightbox_logo_white.png">
    </label>
</header>

<div id="global">
    <div class="input-group">
        <input id="Jméno klienta" name="Id" type="text" class="form-control" [(ngModel)]="clientname"
               placeholder="Jméno klienta">
        <input id="Název firmy" name="Name" type="text" class="form-control" [(ngModel)]="firmname"
               placeholder="Název firmy*">
        <input id="Ulice a ČP" name="Price" type="text" class="form-control" [(ngModel)]="adress"
               placeholder="Ulice a ČP">
        <input id="Město a PSČ" name="Studio" type="text" class="form-control" [(ngModel)]="city"
               placeholder="Město a PSČ"><br></div>
    <div class="input-group">
        <input id="Telefon" name="Id" type="text" class="form-control" [(ngModel)]="phone" placeholder="Telefon">
        <input id="Email" name="Name" type="text" class="form-control" [(ngModel)]="email" placeholder="E-mail*">
        <input id="IČ" name="Price" type="text" class="form-control" [(ngModel)]="ic" placeholder="IČ">
        <input id="DIČ" name="Studio" type="text" class="form-control" [(ngModel)]="dic" placeholder="DIČ">
    </div>
    <br>
    <div class="input-group">
        <input id="Počet měsíců" name="Id" type="text" class="form-control" style="width: 30%" [(ngModel)]="months"
               placeholder="Počet měsíců: ">
    </div>

    <h1></h1>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Výkonnostní marketing</td>
        </tr>
        <tr>
            <td class="th2">Správa a optimalizace reklamních kampaní</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Google</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="google" name="Google">
        </tr>
        <tr>
            <td>M</td>
            <td>Seznam</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="seznam" name="Seznam">
        </tr>
        <tr>
            <td>M</td>
            <td>Facebook + Instagram</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="fb+ig" name="FB + IG">
        </tr>
        <tr>
            <td>M</td>
            <td>Youtube</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="youtube" name="Youtube">
        </tr>
        <tr>
            <td>M</td>
            <td>TikTok</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="tiktok" name="TikTok">
        </tr>
        <tr>
            <td>M</td>
            <td>Linkedin</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="linkedin" name="Linkedin">
        </tr>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Heureka</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="heureka" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="glami" name="Glami">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Biano</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="biano" name="Biano">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Favi</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="favi" name="Favi">
            </td>
        </tr>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>J</td>
            <td>Heureka</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Biano</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>


    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Main caregory</td>
        </tr>
        <tr>
            <td class="th2">Subcategory</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>

    <h1></h1>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Subcategory</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>

        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>

    <h1></h1>

    <form action="/action_page.php">
        <label for="platnost">Platnost od* :</label>
        <input type="date" id="platnost" name="od">
        <input type="submit">

        <label for="platnost">Platnost do* </label>
        <input type="do" name="do">
        <input type="submit">
    </form>

    <h1></h1>

    <input id="Zástupce" name="Name" type="text" [(ngModel)]="reprezentant" placeholder="Jméno obchodního zástupce*">
    <input name="Email" type="text" [(ngModel)]="emailreprezentant" placeholder="Email">
    <input name="Telefon" type="text" [(ngModel)]="phonereprezentant" placeholder="Telefon">

    <h1></h1>

    <button (click)="hide()" id="hidebtn">Done</button>
</div>


<h1></h1>

<h1>
    Nabídka ID: 69420
    Odběratel: *Jméno klienta, Firma, telefon, email, adresa*
</h1>

<h1></h1>

<table>
    <tr>
        <th>Vykonnostní marketing</th>
    </tr>
    <tr>
        <th>Správa a optimalizace reklamních kampaní</th>
        <th>Cena</th>
        <th>Cena měsíčně</th>
    </tr>
    <tr>
        <th>M</th>
        <th>Seznam</th>
        <th> Kč</th>
        <th> Kč</th>
    </tr>
    <tr>
        <th>M</th>
        <th>Youtube</th>
        <th> Kč</th>
        <th> Kč</th>
    </tr>
    <tr>
        <th>Srovnávače zboží</th>
        <th>Cena</th>
        <th>Cena měsíčně</th>
    </tr>
    <tr>
        <th>M</th>
        <th>Glami</th>
        <th> Kč</th>
        <th> Kč</th>
    </tr>
    <tr>
        <th>Celkem měsíčně*</th>
    </tr>
</table>

<h2>*Cena uvedená je bez DPH 21%</h2>
<h2>Nabídka je platná od *od* do *do* na období *měsíce* měsíců</h2>

<h1></h1>

<h1>*Jméno Příjmení*</h1>
<h4>Obchodní zástupce</h4>
<h2>*email*</h2>
<h2>*telefon*</h2>

<h1></h1>

<footer>
    BrightBox s.r.o. | Navrátilova 1421/11 Praha, 110 00, DIČ CZ04845781, 253539 C, Městský soud v Praze
</footer>

