<header class="logoholder">
    <label title="klikněte pro znovuotevření výběru" class="bblabel" for="hidebtn">
        <img alt="" class="bblogo" src="../assets/brightbox_logo_white.svg">
    </label>
</header>

<div *ngIf="global" class="global">

    <div class="input-group">
        <input id="Jméno klienta" name="Id" type="text" class="in" [(ngModel)]="clientname"
               placeholder="Jméno klienta">
        <input id="Název firmy" name="Name" type="text" class="in" [(ngModel)]="firmname"
               placeholder="Název firmy*">
        <input id="Ulice a ČP" name="Price" type="text" class="in" [(ngModel)]="adress"
               placeholder="Ulice a ČP">
        <input id="Město a PSČ" name="Studio" type="text" class="in" [(ngModel)]="city"
               placeholder="Město a PSČ"><br></div>
    <div class="input-group">
        <input id="Telefon" name="Id" type="text" class="in" [(ngModel)]="phone" placeholder="Telefon">
        <input id="Email" name="Name" type="text" class="in" [(ngModel)]="email" placeholder="E-mail*">
        <input id="IČ" name="Price" type="number" class="in" [(ngModel)]="ic" placeholder="IČ">
        <input id="DIČ" name="Studio" type="number" class="in" [(ngModel)]="dic" placeholder="DIČ">
    </div>
    <br>
    <div class="input-group">
        <input id="Počet měsíců" name="Id" type="text" class="in" style="width: 30%" [(ngModel)]="months"
               placeholder="Počet měsíců: ">
    </div>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Výkonnostní marketing</td>
        </tr>
        <tr>
            <td class="th2">Správa a optimalizace reklamních kampaní</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Google</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="google" name="Google">
        </tr>
        <tr>
            <td>M</td>
            <td>Seznam</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="seznam" name="Seznam">
        </tr>
        <tr>
            <td>M</td>
            <td>Facebook + Instagram</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="fb+ig" name="FB + IG">
        </tr>
        <tr>
            <td>M</td>
            <td>Youtube</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="youtube" name="Youtube">
        </tr>
        <tr>
            <td>M</td>
            <td>TikTok</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="tiktok" name="TikTok">
        </tr>
        <tr>
            <td>M</td>
            <td>Linkedin</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="linkedin" name="Linkedin">
        </tr>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Heureka</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="heureka" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="glami" name="Glami">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Biano</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="biano" name="Biano">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Favi</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" id="favi" name="Favi">
            </td>
        </tr>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>J</td>
            <td>Heureka</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Biano</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>


    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Main caregory</td>
        </tr>
        <tr>
            <td class="th2">Subcategory</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>

    <h1></h1>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Subcategory</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>

        </tr>
        <tr>
            <td>M</td>
            <td>Lorem ipsum</td>
            <td> Kč</td>
            <td> Kč</td>
            <td>
                <input type="checkbox" name="heureka">
            </td>
        </tr>
    </table>

    <h1></h1>

    <form action="/action_page.php">
        <label for="platnost">Platnost od* :</label>
        <input type="date" id="platnost" name="od">
        <label for="platnost">Platnost do* </label>
        <input type="date" id="platnost" name="do">
        <input type="submit">
    </form>

    <h1></h1>

    <input id="Zástupce" name="Name" type="text" [(ngModel)]="reprezentant" placeholder="Jméno obchodního zástupce*">
    <input name="Email" type="text" [(ngModel)]="emailreprezentant" placeholder="Email">
    <input name="Telefon" type="text" [(ngModel)]="phonereprezentant" placeholder="Telefon">

    <h1></h1>

    <button (click)="hide()" id="hidebtn">Done</button>
</div>

<div *ngIf="global2" class="global">
    <table>
        <th>
            Nabídka ID: 69420 <br>
            Odběratel: *Jméno klienta, Firma, telefon, email, adresa*
        </th>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Výkonnostní marketing</td>
        </tr>
        <tr>
            <td class="th2">Správa a optimalizace reklamních kampaní</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Seznam</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Youtube</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>
    </table>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>
    </table>

    <table>
        <tr>
            *Cena uvedená je bez DPH 21% <br>
            Nabídka je platná od *od* do *do* na období *měsíce* měsíců
        </tr>
    </table>

    <table>
        <td>*Jméno a příjmení obchodního zástupce*: {{reprezentant}} <br></td>
        <td>*email*: {{emailreprezentant}} <br></td>
        <td>*telefon*: {{phonereprezentant}}</td>
    </table>

</div>
<footer class="f2">
    BrightBox s.r.o. | Navrátilova 1421/11 Praha, 110 00, DIČ CZ04845781, 253539 C, Městský soud v Praze
</footer>
