<header (click)="hide()" style="  cursor: pointer;" title="klikněte pro znovuotevření výběru" class="logoholder">
    <img alt="" class="bblogo" src="../assets/brightbox_logo_white.svg">
</header>

<div *ngIf="global" class="global">

    <div class="input-group-text">
        <input id="Jméno klienta" name="JménoKlienta" type="text" class="in" [(ngModel)]="clientname"
               placeholder="Jméno klienta">
        <input id="Název firmy" name="NázevFirmy" type="text" class="in" [(ngModel)]="firmname"
               placeholder="Název firmy*">
        <input id="Ulice a ČP" name="UliceaČP" type="text" class="in" [(ngModel)]="adress"
               placeholder="Ulice a ČP">
        <input id="Město a PSČ" name="MěstoaPSČ" type="text" class="in" [(ngModel)]="city"
               placeholder="Město a PSČ"><br></div>
    <div class="input-group-text">
        <input id="Telefon" name="Telefon" type="text" class="in" [(ngModel)]="phone" placeholder="Telefon">
        <input id="Email" name="Email" type="text" class="in" [(ngModel)]="email" placeholder="E-mail*">
        <input id="IČ" name="IČ" type="number" class="in" [(ngModel)]="ic" placeholder="IČ">
        <input id="DIČ" name="DIČ" type="number" class="in" [(ngModel)]="dic" placeholder="DIČ">
    </div>
    <br>
    <div class="input-group-text">
        <input id="Počet měsíců" name="Id" type="number" class="in" [(ngModel)]="months"
               placeholder="Počet měsíců: ">
    </div>

    <table class="mainTable" width="100%">
        <tr>
            <td class="th1">Výkonnostní marketing</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">Správa a optimalizace reklamních kampaní</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[0][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && !item.isMonthly">{{item.price / months}} Kč</td>
            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='1'"><input class="form-check-input"  type="checkbox"
                                                                    id="11{{i}}"
                                                                    name="11{{i}}">
            </td>

        </tr>



        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[0][1]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='1'"><input class="form-check-input"  type="checkbox"
                                                                    id="12{{i}}"
                                                                    name="12{{i}}">
            </td>
                    </tr>



                    <tr>
                        <td class="th2">Srovnávače zboží</td>
                        <td class="th2">Cena</td>
                        <td class="th2">Cena měsíčně</td>
                        <td class="th2"></td>
                        <td class="th2"></td>
                    </tr>
                    <tr *ngFor="let item of jsonveci.items[0][2]; let i = index">

                        <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.name}}</td>
                        <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.price}} Kč</td>
                        <td *ngIf="item.catID.toString().charAt(0)=='1' && item.isMonthly">{{item.price}} Kč</td>
                        <td *ngIf="item.catID.toString().charAt(0)=='1' && !item.isMonthly">{{item.price / months}} Kč</td>

                        <!--
                        <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isMonthly}}</td>
                        <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isGrouped}}</td>
                        -->
            <td *ngIf="item.catID.toString().charAt(0)=='1'"><input class="form-check-input"  type="checkbox"
                                                                    id="13{{i}}"
                                                                    name="13{{i}}">
            </td>

        </tr>



        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[0][3]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='1'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='1'"><input class="form-check-input"  type="checkbox"
                                                                    id="14{{i}}"
                                                                    name="14{{i}}">
            </td>

        </tr>



        <tr>
            <td class="th1">Main category</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">Subcategory</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[1][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='2'"><input class="form-check-input" type="checkbox"
                                                                    id="21{{i}}"
                                                                    name="21{{i}}">
            </td>

        </tr>

        <tr *ngFor="let item of jsonveci.items[1][1]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='2'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='2'"><input class="form-check-input"  type="checkbox"
                                                                    id="22{{i}}"
                                                                    name="22{{i}}">
            </td>

        </tr>




        <tr>
            <td class="th1">SEO optimalizace</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">SEO</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[2][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='3'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='3'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='3' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='3' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='3'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='3'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='3'"><input class="form-check-input"  type="checkbox"
                                                                    id="31{{i}}"
                                                                    name="31{{i}}">
            </td>
        </tr>




        <tr>
            <td class="th1">Email marketing</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">Měsíční správa email marketingu</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[3][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='4'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='4'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='4' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='4' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='4'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='4'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='4'"><input class="form-check-input"  type="checkbox"
                                                                      id="41{{i}}"
                                                                    name="41{{i}}">
            </td>
        </tr>




        <tr>
            <td class="th1">Copywriting</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">Tvorba obsahu na blog</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[4][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='5'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='5'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='5' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='5' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='5'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='5'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='5'"><input class="form-check-input"  type="checkbox"
                                                                    id="51{{i}}"
                                                                    name="51{{i}}">
            </td>
        </tr>



        <tr>
            <td class="th1">Influencer marketing</td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
            <td class="th1">   </td>
        </tr>
        <tr>
            <td class="th2">Influencer marketing basic</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr *ngFor="let item of jsonveci.items[5][0]; let i = index">

            <td *ngIf="item.catID.toString().charAt(0)=='6'">{{item.name}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='6'">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='6' && item.isMonthly">{{item.price}} Kč</td>
            <td *ngIf="item.catID.toString().charAt(0)=='6' && !item.isMonthly">{{item.price / months}} Kč</td>

            <!--
            <td *ngIf="item.catID.toString().charAt(0)=='6'">{{item.isMonthly}}</td>
            <td *ngIf="item.catID.toString().charAt(0)=='6'">{{item.isGrouped}}</td>
            -->
            <td *ngIf="item.catID.toString().charAt(0)=='6'"><input class="form-check-input"  type="checkbox"
                                                                    id="61{{i}}"
                                                                    name="61{{i}}">
            </td>
        </tr>


    <h1></h1>



    <form action="/action_page.php">
        <label for="platnost">Platnost od* :</label>
        <input type="date" [(ngModel)]="from" id="platnost" name="od">
        <label for="platnost">Platnost do* </label>
        <input type="date" [(ngModel)]="till" id="platnost" name="do">
        <input type="submit">
    </form>

    <input class="input-group-text" id="Zástupce" name="Name" type="text" [(ngModel)]="reprezentant" placeholder="Jméno obchodního zástupce*">
    <input class="input-group-text" name="Email" type="text" [(ngModel)]="emailreprezentant" placeholder="Email">
    <input class="input-group-text" name="Telefon" type="text" [(ngModel)]="phonereprezentant" placeholder="Telefon">

    <h1></h1>

    <button type="button" class="btn btn-danger accept" (click)="hide()" id="hidebtn">Generovat nabídku</button>
    </table>
</div>

<div *ngIf="global2" class="global">
    <table class="mainTable" width="100%">
        <th>
            Nabídka ID: 69420 <br>
            Odběratel: *Jméno klienta, Firma, telefon, email, adresa*
        </th>



        <tr>
            <td class="th1">Výkonnostní marketing</td>
        </tr>
        <tr>
            <td class="th2">Správa a optimalizace reklamních kampaní</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Seznam</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Youtube</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>



        <tr>
            <td class="th2">Srovnávače zboží</td>
            <td class="th2">Cena</td>
            <td class="th2">Cena měsíčně</td>
            <td class="th2"></td>
            <td class="th2"></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Glami</td>
            <td> Kč</td>
            <td> Kč</td>
            <td></td>
        </tr>



        <tr>
            *Cena uvedená je bez DPH 21% <br>
            Nabídka je platná od *{{from}}* do *{{till}}* na období *{{months}}* měsíců
        </tr>



        <td>*Jméno a příjmení obchodního zástupce*: {{reprezentant}} <br></td>
        <td>*email*: {{emailreprezentant}} <br></td>
        <td>*telefon*: {{phonereprezentant}}</td>
    </table>

</div>

<div class="box">
    <div class="subBox">
        <div class="subBoxBtn">
            <button (click)="PocitaniCastky()" id="PocitaniCastkybtn">Done</button>
        </div>
        <strong class="celkemMesic">Cena celkem měsíčně: {{ totalprice }}</strong>

    </div>
</div>

<footer class="f2">
    BrightBox s.r.o. | Navrátilova 1421/11 Praha, 110 00, DIČ CZ04845781, 253539 C, Městský soud v Praze
</footer>
<br>

<div class="box">
    <div class="subBox">
        <strong class="celkemMesic">Cena celkem měsíčně: {{ totalprice }}</strong>

    </div>
</div>
